/* =========RESET========= */
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 2px solid red; */
    font-family: 'Syne Mono', monospace;
}



ul,
ol {
    list-style: none;
}


a {
    text-decoration: none;
}


/* =======SECTION POEMAS GENERAL===== */
.poemas {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 50px;
}

@media (min-width:765px) {
    .poemas {
        align-items: flex-start;
        flex-wrap: nowrap;
    }

}


/* ACLARACION: A TODAS LAS DIV CLASS QUE LLEVAN EL NOMBRE DEL POEMA CORRESPONDIENTE
LES APLIQUE UN WIDH DE MAX-CONTENT PARA QUE SE VEA MEJOR, YA QUE SI LE APLICABA MEDIDA EN VW
QUEDABAN HILERAS DELGADAS Y NO AGRADABLES ESTETICAMENTE. LEI QUE EL MAX-CONTENT SIGUE SIENDO RESPONSIVE.
 */

/* ==========index========== */

/* =========body============= */
body{
    width: 100vw;
    height: 100vh;
    background-image: url(../views/img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



/*================ header =================== */

.encabezadoIndex {
    width: 100vw;
    font-size: 15px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0.677);
    border-color: black;
    border-width: 2px;
    border-style: groove;
    border-radius: 5px;
    overflow: auto;
    position: sticky;
    top: 0;
    z-index: 4;
}


.encabezadoIndex nav {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}



@media (min-width:765px) {
    .encabezadoIndex {
        font-size: 20px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.737);
        border-color: black;
        border-width: 2px;
        border-style: groove;
        border-radius: 5px;
        height: 12vh;
        overflow: auto;
        position: sticky;
        top: 0;
        z-index: 4;
    }

    .encabezadoIndex nav ul {
        display: flex;
        gap: 20px;
    }

}


/* ==========MAIN=========== */

.cuerpoPrincipal {
    margin: 10px;
    height: 80h;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;
}

@media (min-width: 765px){
    .cuerpoPrincipal {
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(4, 25vw);
        grid-template-rows: repeat(2, 50vh);
        grid-template-areas: 
        "poetas poetas poetas poetas"
        "musica musica libros libros"
        ;
    }
}

.poetas {
    margin: 10px;
    height: 45vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    animation-name: scale-in-top;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.poetas div {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgba(128, 128, 128, 0.811);
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    border-style: groove;
}

.poetas div ul {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    gap: 15vw;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    border-style: groove;
}

.ner {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 75vw;
}

.cor{
    position: sticky;
    top: 0;
    z-index: 2;
    width: 75vw;
}

.byr{
    position: sticky;
    top: 0;
    z-index: 3;
    width: 75vw;
}

.poetas div ul div li {
    padding: 20px;
}

.poetas div ul li img {
    height: 25vh;
    border: 2px groove black;
    padding: 3px;
}



@media (min-width:765px) {
    .poetas {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
        animation-name: scale-in-top;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        overflow: auto;
        grid-area: poetas;
    }

    .poetas div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-style: groove;
        overflow: auto;
    }

    .poetas div ul {
        font-size: 48px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 20vw;
        padding: 10px;
    }

    
.ner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 1;
}

.cor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 2;
}

.byr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: sticky;
    top: 0;
    z-index: 3;
}

    .poetas div ul li img {
        height: 35vh;
        border: 2px groove black;
        padding: 3px;
    }

}


/* ======ANIMACION PARA EL MAIN DEL INDEX=========== */

.scale-in-top {
    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-17 17:17:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

@keyframes scale-in-top {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        opacity: 1;
    }
}

.musicaParaLeer {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    background-color: rgba(128, 128, 128, 0.444);
}

.musicaParaLeer div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    overflow: auto;
}

.musicaParaLeer h2 {
    margin: 10px;
    font-size: 32px;
    background-color: rgba(128, 128, 128, 0.56);
    width: 40vw;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    border-radius: 5px;
    position: sticky;
    top:0;
}

.musicaParaLeer div ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.musicaParaLeer div ul li {
    border-color: black;
    border-width: 2px;
    border-style: groove;
    border-radius: 5px;
}


@media (min-width:765px) {
    .musicaParaLeer {
        height: 50vh;
        display: flex;
        flex-direction: row;
        padding: 10px;
        margin: 10px;
        border-color: black;
        border-width: 2px;
        border-style: groove;
        border-radius: 5px;
        grid-area: musica;
        overflow:auto;
    }

    .musicaParaLeer h2 {
        padding: 10px;
        font-size: 32px;
        background-color: rgba(128, 128, 128, 0.56);
        border-color: black;
        border-width: 2px;
        border-style: groove;
        border-radius: 5px;
    }

    .musicaParaLeer div {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    .musicaParaLeer div ul {
        margin: 5px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .musicaParaLeer div ul li {
        border-color: black;
        border-width: 2px;
        border-style: groove;
        border-radius: 5px;
    }
}


.librosPoetas {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-start;
    background-color: rgba(128, 128, 128, 0.444);
    gap: 20px;
}

.librosPoetas h2{
    padding: 10px;
    margin: 10px;
    width: 45vw;
    font-size: 32px;
    background-color: rgba(128, 128, 128, 0.679);
    border-color: black;
    border-width: 2px;
    border-style: groove;
    border-radius: 5px;
    position: sticky;
    top:0;
}

.librosPoetas div {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    overflow: auto;
}

.librosPoetas div ul {
    background-color: rgba(128, 128, 128, 0.679);
    margin: 10px;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}



@media (min-width: 765px){
    .librosPoetas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.485);
        gap: 10px;
        grid-area: libros;
        border-color: black;
        border-radius: 5px;
        border-width: 2px;
        border-style: groove;

    }
    .librosPoetas div{
        margin-top: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
    }

    .librosPoetas div h2 {
        width: 20vw;
    }

    .librosPoetas div ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
        padding: 10px;
    }

}

.pieDePaginaIndex {
    height: 10vh;
    font-size: 16px;
    padding: 10px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.541);
    gap: 10px;
    overflow: auto;
}

.pieDePaginaIndex div ul {
    padding: 2px;
}

.pieDePaginaIndex div ul li {
    padding: 3px;
}


@media (min-width:765px) {
    .pieDePaginaIndex {
        font-size: 18px;
        width: 100vw;
        height: 10vh;
        padding: 10px;
        border-style: groove;
        border-color: black;
        border-width: 2px;
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(128, 128, 128, 0.555);
        gap: 10px;
        overflow: auto;
    }

    .pieDePaginaIndex div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .pieDePaginaIndex div ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40VW;
    }

}


/*===============CONTACTO==============*/

.encabezadoContacto {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.478);
    border-color: black;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
    position: sticky;
    top: 0;
    z-index: 2;

}

.formulario {
    padding: 5px 5px;
}

form {
    padding: 5px;
    background-color: rgba(255, 228, 196, 0.638);
}

#user_name {
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#user_email {
    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#user_message {

    padding: 10px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#asunto_usuario {

    padding: 5px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#user_news {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#submit {
    margin: 5px;
    padding: 7px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
}

#reset {
    margin: 5px;
    padding: 7px;
    border-width: 2px;
    border-color: black;
    border-style: groove;
}


.pieDePaginaContacto {
    font-size: 18px;
    width: 100vw;
    height: 15vh;
    padding: 10px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.599);
    gap: 10px;
    overflow: auto;
}


.pieDePaginaContacto div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pieDePaginaContacto div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40VW;
}



/* ==========NERUDA============ */

/* ============BODY======== ===*/

.neruda {
    height: 100vh;
    width: 100vw;
    background-image: url(../views/img/neruda.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


/* ========HEADER=========== */


.encabezadoNeruda {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 8vh;
    background-color: rgba(128, 128, 128, 0.516);
    margin: 5px;
    border-style: groove;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    padding: 1px;
}


.cuerpoPrincipalNeruda {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 90px;
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 28px;
    overflow: auto;
}

@media (min-width: 765px) {
    .cuerpoPrincipalNeruda {
        width: 100vw;
        display: flex;
        flex-direction: row;
        gap: 50px;
        padding: 90px;
        border-radius: 5px;
        border-color: black;
        border-style: groove;
        border-width: 2px;
        font-size: 28px;
        overflow: auto;
    }
}

.ambientacion h2 {
    font-size: 28px;
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    background-color: rgba(128, 128, 128, 0.484);
}


.poema20 h3 {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18pxpx;
    padding: 10px;
    color: black;
}


.poema20 {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18px;
    padding: 10px;
    color: black;
    width: max-content;
    height: auto;
    background-color: rgba(128, 128, 128, 0.582);
}


.poema20 p {
    padding: 10px;
    text-align: justify;
}


.poema2 h3 {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18pxpx;
    padding: 10px;
    color: black;
}


.poema2 {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18px;
    padding: 10px;
    color: black;
    background-color: rgba(128, 128, 128, 0.548);
    width: max-content;
    height: auto;
}


.poema2 p {
    padding: 10px;
    text-align: justify;
}



.poema11 h3 {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18pxpx;
    padding: 10px;
    color: black;
}


.poema11 {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18px;
    padding: 10px;
    color: black;
    width: max-content;
    height: auto;
    background-color: rgba(128, 128, 128, 0.507);
}


.poema11 p {
    padding: 10px;
    text-align: justify;
}



.pieDePaginaNeruda {
    font-size: 18px;
    width: 100vw;
    height: 15vh;
    padding: 10px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.56);
    gap: 20px;
    overflow: auto;
}


.pieDePaginaNeruda div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pieDePaginaNeruda div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40vw;
}




/* ===============Julio Cortazar================= */



/* ============BODY======== ===*/

.julioCortazar {
    background-image: url(../views/img/julioCortazar.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



/* ========HEADER=========== */


.encabezadoCortazar {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: auto;
    background-color: rgba(11, 245, 11, 0.577);
    margin: 5px;
    border-style: groove;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;
    padding: 1px;
}



.cuerpoPrincipalCortazar {
    width: 100vw;
    height: 85vh;
    padding: 90px;
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    overflow: auto;
}

.cuerpoPrincipalCortazar h2 {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 24px;
    padding: 10px;
    color: black;
    background-color: rgba(9, 243, 9, 0.585);
    width: max-content;
    height: auto;
}

.cuerpoPrincipalCortazar h3 {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18px;
    padding: 10px;
    color: black;
    background-color: rgba(14, 237, 14, 0.521);
    width: max-content;
    height: auto;
}


.poema1Cortazar {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18px;
    padding: 10px;
    color: black;
    background-color: rgba(12, 239, 12, 0.527);
    width: max-content;
    height: auto;
}


.poema1 p {
    padding: 10px;
    text-align: justify;
    background-color: rgba(13, 237, 13, 0.525);
}

.pieDePaginaCortazar {
    font-size: 18px;
    width: 100vw;
    height: 15vh;
    padding: 10px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(13, 235, 13, 0.585);
    gap: 20px;
    overflow: auto;
}


.pieDePaginaCortazar div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pieDePaginaCortazar div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40vw;
}

/* ===========Lord Byron=========== */



/* ============BODY======== ===*/

.lordByron {
    background-image: url(../views/img/lordByron.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



/* ========HEADER=========== */





.encabezadoByron {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 98vw;
    height: 7vw;
    background-color: rgba(247, 247, 121, 0.578);
    margin: 5px;
    border-style: groove;
    border-radius: 20px;
    border-color: black;
    border-width: 2px;

}





.cuerpoPrincipalByron {
    width: 100vw;
    padding: 90px;
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    overflow: auto;
}

.cuerpoPrincipalByron h2 {
    border-style: groove;
    border-radius: 40px;
    border-color: black;
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 24px;
    padding: 10px;
    color: black;
    background-color: rgba(248, 248, 110, 0.608);
    width: auto;
}

.cuerpoPrincipalByron h3 {
    border-style: groove;
    border-radius: 40px;
    border-color: black;
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18px;
    padding: 10px;
    color: black;
    background-color: rgba(249, 249, 123, 0.614);
    width: 30vw;
}


.poema1Byron {
    border-style: groove;
    border-radius: 40px;
    border-color: black;
    background-color: rgba(244, 244, 117, 0.556);
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    border-width: 2px;
    font-size: 18px;
    padding: 10px;
    color: black;
    width: max-content;
    height: auto;
}


.poema1 p {
    padding: 10px;
    text-align: justify;
}

.pieDePaginaByron {
    font-size: 18px;
    width: 100vw;
    height: 15vh;
    padding: 10px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(241, 241, 116, 0.522);
    gap: 20px;
    overflow: auto;
}


.pieDePaginaByron div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pieDePaginaByron div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40vw;
}

/* ===========Quienes Somos=========== */


/* =========Body============ */

.nosotros {
    background-image: url(../views/img/quienesSomos.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vh;
}


/* ======Header======== */


.encabezadoNosotros {
    font-size: 20px;
    width: 99vw;
    height: 10vh;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.499);
    position: sticky;
    top: 0;
    z-index: 2;

}

.cuerpoPrincipalNosotros {
    height: 80vh;
    width: 100vw;
    overflow: auto;

}

.cuerpoPrincipalNosotros h2 {
    width: 30vw;
    height: fit-content;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    text-align: center;
    margin: 5px;
    padding: 10px;
    background-color: grey;
    opacity: 0.8;
}

.cuerpoPrincipalNosotros div {
    width: 99vw;
    height: 30vh;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    border-style: groove;
    background-color: rgba(128, 128, 128, 0.542);
    text-align: justify;
    font-size: 18px;
}

.pieDePaginaNosotros {
    font-size: 18px;
    width: 99vw;
    height: 15vh;
    padding: 10px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.571);
    gap: 20px;
    overflow: auto;
}


.pieDePaginaNosotros div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pieDePaginaNosotros div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40vw;
}