
/*======fontisizes encabezados====*/
$fuente-encabezado:28px;

/*======fontsizes pie de pagina=======*/

$fuente-piedepagina:26px;

/*======fontsizes h2========*/
$fuente-h2:24px;

/*======fontsizes h3========*/
$fuente-h3:20px;

/*======fontsizes p========*/
$fuente-p:18px;