@mixin flex-box($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


@mixin border($color: black, $width: 2px, $style: groove) {
    border-color: $color;
    border-width: width;
    border-style: $style;
}