<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Poesía nocturna. Contáctanos. Envíanos sugerencias. Envíanos poemas que te gusten. Sugiérenos qué poetas agregar.">
    <title>Poesía Nocturna | Contáctanos</title>
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <div class="contacto">
        <header class="contacto__encabezado">
            <h2>CONTACTO</h2>
            <ul>
                <li><a href="../index.html" class="btn">INICIO</a></li>
                <li><a href="./views/nosotros.html" class="btn">NOSOTROS</a></li>
                <li><a href="https://www.instagram.com/roger_suleta/" target="_blank" class="btn">POESIA
                        NOCTURNA</a></li>
            </ul>
            <ul>
                <li><a href="./neruda.html" class="btn">PABLO NERUDA</a></li>
                <li><a href="./julioCortázar.html" class="btn">JULIO CORTÁZAR</a></li>
                <li><a href="./lordByron.html" class="btn">LORD BYRON</a></li>
            </ul>
        </header>

        <main>
            <form action="direcciónCompletaDelArchivoQueSeEnviara" class="contacto__formulario">
                <h2>Formulario de contacto</h2>
                <div class="contacto__usuario">
                    <label for="usuario_nombre">Ingrese su nombre y apellido</label>
                    <input type="text" id="usuario_nombre" placeholder="Nombre y apellido">
                </div>

                <div class="contacto__email">
                    <label for="usuario_email">Ingrese su email</label>
                    <input type="email" id="usuario_email" placeholder="ejemplo@gmail.com">
                </div>

                <div class="contacto__mensaje">
                    <label for="usuario_mensaje">Ingrese su mensaje</label>
                    <textarea name="usuario__mensaje" id="usuario_mensaje" cols="30" rows="10"
                        placeholder="Si quieres pasarnos un poema que te gusta también puedes hacerlo por aqui."></textarea>
                </div>

                <div class="contacto__asuntos">
                    <label for="asunto_usuario">Selecciona un asunto:</label>
                    <select name="asunto_usuario" id="asunto_usuario">
                        <option value="mensaje">Mensaje</option>
                        <option value="reclamo">Reclamo</option>
                        <option value="consultas">Consultas</option>
                        <option value="otro">Otro</option>
                    </select>
                </div>

                <div class="contacto__género">
                    <div>Ingrese su género: </div>

                    <label for="mujer">Mujer</label>
                    <input type="radio" id="mujer" name="radio_género" value="mujer">

                    <label for="hombre">Hombre</label>
                    <input type="radio" id="hombre" name="radio_género" value="hombre">

                    <label for="otro">Prefiero no contestar</label>
                    <input type="radio" id="otro" name="radio_género" value="otro">

                </div>

                <div class="contacto__novedades">
                    <label for="user_news">¿Desea recibir novedades?</label>
                    <input type="checkbox" id="user_news">
                </div>

                <div class="contacto__enviar">
                    <input type="submit" id="submit" value="Enviar">
                    <input type="reset" id="reset" value="Restablecer formulario">
                </div>

            </form>
        </main>

        <footer class="contacto__pieDePágina">
            <div>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                    <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="https://www.instagram.com/roger_suleta/" target="_blank" class="btn">SEGUINOS</a>
                    </li>
                </ul>
            </div>


        </footer>


    </div>


</body>

</html>