<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!--FORMULARIOS
-->


    <header class="encabezadoContacto">
        <h2>CONTACTO</h2>
        <ul>
            <li><a href="../index.html">INICIO</a></li>
        </ul>
    </header>

    <main>
        <form action="">
            <h2 class="formulario">Formulario de contacto</h2>
            <h3>Si quieres pasarnos un poema que te gusta, lo escribes y nos los envias y lo sumamos.</h3>
            <div class="usuario">
                <label for="user_name">Ingrese su nombre y apellido</label>
                <input type="text" id="user_name" value="Nombre y apellido">
            </div>

            <div>
                <label for="user_email">Ingrese su email</label>
                <input type="email" id="user_email" value="Example@gmail.com">
            </div>

            <div>
                <label for="user_message">Ingrese su mensaje</label>
                <textarea name="" id="user_message" cols="30" rows="10"></textarea>
            </div>

            <div>
                <label for="asunto_usuario">Selecciona un asunto:</label>
                <select name="asunto_usuario" id="asunto_usuario">
                    <option value="mensaje">Mensaje</option>
                    <option value="reclamo">Reclamo</option>
                    <option value="consultas">Consultas</option>
                    <option value="otro">Otro</option>
                </select>
            </div>

            <div>
                <div>Ingrese su genero: </div>

                <label for="mujer">Mujer</label>
                <input type="radio" id="mujer" name="radio_genero" value="mujer">

                <label for="hombre">Hombre</label>
                <input type="radio" id="hombre" name="radio_genero" value="hombre">

                <label for="otro">Prefiero no contestar</label>
                <input type="radio" id="sin_respuesta" name="radio_genero" value="sin_respuesta">

            </div>

            <div>
                <label for="user_news">¿Desea recibir novedades?</label>
                <input type="checkbox" id="user_news">
            </div>

            <div>
                <input type="submit" id="submit" value="Enviar">
                <input type="reset" id="reset" value="Restablecer formulario">
            </div>

        </form>
    </main>

    <footer class="pieDePaginaContacto">

        <div>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="../views/contacto.html">CONTACTO</a></li>
                <li><a href="https://www.instagram.com/migueldiosquezdupuy/">SEGUINOS</a></li>
            </ul>
        </div>


    </footer>



</body>

</html>