<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>Poesía nocturna | Contáctanos</title>
    <meta name="title" content="Poesía nocturna | Contáctanos">
    <meta name="description"
        content="Poesía nocturna. Contáctanos. Envíanos sugerencias. Envíanos poemas que te gusten. Sugiérenos qué poetas agregar.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Poesía nocturna | Contáctanos">
    <meta property="og:description"
        content="Poesía nocturna. Contáctanos. Envíanos sugerencias. Envíanos poemas que te gusten. Sugiérenos qué poetas agregar.">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Poesía nocturna | Contáctanos">
    <meta property="twitter:description"
        content="Poesía nocturna. Contáctanos. Envíanos sugerencias. Envíanos poemas que te gusten. Sugiérenos qué poetas agregar.">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="../css/dark.css">
    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>

</head>

<body>
    <dark-mode-toggle id="dark-mode-toggle-1" legend="Theme Switcher" appearance="switch" dark="Dark" light="Light"
    remember="Remember this"></dark-mode-toggle>

    <div class="contacto">
        <header class="contacto__encabezado">
            <h1>CONTACTO</h1>
            <ul>
                <li><a href="../index.html" class="btn">INICIO</a></li>
                <li><a href="./nosotros.html" class="btn">NOSOTROS</a></li>
                <li><a href="www.instagram.com/roger_suleta/" target="_blank" class="btn">POESIA
                        NOCTURNA</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="./neruda.html" class="btn">PABLO NERUDA</a></li>
                <li><a href="./julioCortazar.html" class="btn">JULIO CORTÁZAR</a></li>
                <li><a href="./lordByron.html" class="btn">LORD BYRON</a></li>
            </ul>
        </header>

        <main>
            <form name="contacto" netlify class="contacto__formulario">
                <h2>Formulario de contacto</h2>
                <div class="contacto__usuario">
                    <label for="usuario__nombre">Ingrese su nombre y apellido</label>
                    <input type="text" id="usuario_nombre" name="usuario__nombre" placeholder="Nombre y apellido">
                </div>

                <div class="contacto__email">
                    <label for="usuario__email">Ingrese su email</label>
                    <input type="email" id="usuario__email" name="usuario__email" placeholder="ejemplo@gmail.com">
                </div>

                <div class="contacto__mensaje">
                    <label for="usuario__mensaje">Ingrese su mensaje</label>
                    <textarea name="usuario__mensaje" id="usuario__mensaje" cols="30" rows="10"
                        placeholder="Si quieres pasarnos un poema que te gusta también puedes hacerlo por aqui."></textarea>
                </div>

                <div class="contacto__asuntos">
                    <label for="contacto__usuario">Selecciona un asunto:</label>
                    <select name="contacto__usuario" id="contacto__usuario">
                        <option value="mensaje">Mensaje</option>
                        <option value="reclamo">Reclamo</option>
                        <option value="consultas">Consultas</option>
                        <option value="otro">Otro</option>
                    </select>
                </div>

                <div class="contacto__genero">
                    <div>Ingrese su género: </div>

                    <label for="mujer">Mujer</label>
                    <input type="radio" id="mujer" name="radio_genero" value="mujer">

                    <label for="hombre">Hombre</label>
                    <input type="radio" id="hombre" name="radio_genero" value="hombre">

                    <label for="otro">Prefiero no contestar</label>
                    <input type="radio" id="otro" name="radio_genero" value="otro">

                </div>

                <div class="contacto__novedades">
                    <label for="usuario__noticias">¿Desea recibir novedades?</label>
                    <input type="checkbox" name="usuario__noticias" id="usuario__noticias">
                </div>

                <div class="contacto__enviar">
                    <input type="submit" id="submit" name="submit" value="Enviar">
                    <input type="reset" id="reset" name="reset" value="Restablecer formulario">
                </div>

            </form>
        </main>

        <footer class="contacto__pieDePagina">
            <div>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                    <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="www.instagram.com/roger_suleta/" target="_blank" class="btn">SEGUINOS</a>
                    </li>
                </ul>
            </div>


        </footer>


    </div>


</body>

</html>