<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>julio Cortazar</title>
    <link rel="stylesheet" href="../css/style.css">

    <!-- <meta name="description" content=""> AGREGAR!! -->
</head>


<body>
    <div class="cortazar">
        <header class="cortazar__encabezado">
            <h1>Poemas</h1>
            <div>
                <nav>
                    <ul>
                        <li><a href="../index.html" class="btn">INICIO</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="cortazar__cuerpoPrincipal">
            <section class="cortazar__bio">
                <img src="../views/img/imgJulioCortazar.jpg" alt="Imagen de la cara de Julio Cortazar">
                <p class="cortazar__txt1">Julio Cortázar nació en Bruselas el 26 de agosto de 1914. Cuando tenía cuatro
                    años de edad se
                    mudó con sus padres a Argentina, donde pasó su infancia, adolescencia y parte de su juventud. En
                    1951
                    se trasladó a París, donde comenzó a trabajar como traductor para la Unesco y realizó sus primeras
                    publicaciones.
                    De su obra puede rescatarse la increíble capacidad para mezclar fantasía con realidad y crear
                    tramas
                    estupendas y atrapantes. Si bien escribió principalmente relatos, también dejó algunas novelas y
                    varios poemarios; era un autor absolutamente apasionado por las letras en general y supo
                    destacarse en todo género que abordó.</p>
                <p class="cortazar__txt2">
                    El rasgo que mejor lo definía era la soledad, así lo expresó en más
                    de una ocasión, considerando que sólo a través de la reclusión y la cercanía con uno mismo era
                    posible escribir algo medianamente bueno.
                    Sin duda fue uno de los autores consagrados del siglo pasado más irreemplazables. Dejó obras como
                    "Bestiario", "Final del juego" e "Historias de Cronopios y de
                    Famas" que lo han puesto en la lista de escritores más leídos de nuestro tiempo. En nuestra web
                    podrás leer algunas de sus poesías,
                    tales como "Una idea", "Nocturno" y "Poema a Dios, ese pajarito mandón".</p>
            </section>
            <div>
                <hr>
            </div>
            <section class="cortazar__ambientación">
                <h2>Ambientacion musical</h2>
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/kjlu9RRHcbE"
                    title="YouTube video player"></iframe>
            </section>
            <div>
                <hr>
            </div>
            <section class="cortazar__poemas">
                <div class="cortazar_poema1">
                    <h2>libro: desconocido</h2>
                    <h3>"No volveremos a vagar"</h3>
                    <p>Así es, no volveremos a vagar
                        Tan tarde en la noche,
                        Aunque el corazón siga amando
                        Y la luna conserve el mismo brillo.</p>
                    <p>Pues la espada gasta su vaina,
                        Y el alma desgasta el pecho,
                        Y el corazón debe detenerse a respirar,
                        Y aún el amor debe descansar.</p>
                    <p>Pues la espada gasta su vaina,
                        Y el alma desgasta el pecho,
                        Y el corazón debe detenerse a respirar,
                        Y aún el amor debe descansar.</p>
                    <div>
                        <hr>
                    </div>
                    <h3>Te Amo por ceja...</h3>
                    <p>Te amo por ceja, por cabello, te debato en corredores
                        blanquísimos donde se juegan las fuentes
                        de la luz,</p>
                    <p>te discuto a cada nombre, te arranco con delicadeza
                        de cicatriz,</p>
                    <p>voy poniéndote en el pelo cenizas de relámpago y
                        cintas que dormían en la lluvia.</p>
                    <p>No quiero que tengas una forma, que seas
                        precisamente lo que viene detrás de tu mano,</p>
                    <p>porque el agua, considera el agua, y los leones
                        cuando se disuelven en el azúcar de la fábula,</p>
                    <p>y los gestos, esa arquitectura de la nada,
                        encendiendo sus lámparas a mitad del encuentro.</p>
                    <p> Todo mañana es la pizarra donde te invento y te
                        dibujo,</p>
                    <p>pronto a borrarte, así no eres, ni tampoco con ese
                        pelo lacio, esa sonrisa.</p>
                    <p>Busco tu suma, el borde de la copa donde el vino
                        es también la luna y el espejo,</p>
                    <p>busco esa línea que hace temblar a un hombre en
                        una galería de museo.
                        Además te quiero, y hace tiempo y frío.</p>
                </div>
            </section>

        </main>

        <footer class="cortazar__pieDePagina">
            <div>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                    <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="https://www.instagram.com/roger_suleta/" target="_blank" class="btn">SEGUINOS</a></li>
                </ul>
                <div>
                    <hr>
                </div>
                <ul>
                    <li><a href="./lordByron.html" class="btn">BYRON</a></li>
                    <li><a href="./neruda.html" class="btn">NERUDA</a></li>
                </ul>
            </div>

        </footer>

    </div>
</body>

</html>