<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>Poesía nocturna | Julio Cortázar</title>
    <meta name="title" content="Poesía nocturna | Julio Cortázar">
    <meta name="description"
        content="Si amas la poesía, te gusta Cortázar, visita mi página, sírvete un rico café, dale play a las canciones que seleccionamos y lee los poemas que más te gusten. Sugiéreme poemas que te gustaría que subamos, autores, etc.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Poesía nocturna | Julio Cortázar">
    <meta property="og:description"
        content="Si amas la poesía, te gusta Cortázar, visita mi página, sírvete un rico café, dale play a las canciones que seleccionamos y lee los poemas que más te gusten. Sugiéreme poemas que te gustaría que subamos, autores, etc.">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Poesía nocturna | Julio Cortázar">
    <meta property="twitter:description"
        content="Si amas la poesía, te gusta Cortázar, visita mi página, sírvete un rico café, dale play a las canciones que seleccionamos y lee los poemas que más te gusten. Sugiéreme poemas que te gustaría que subamos, autores, etc.">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="../css/dark.css">
    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>

</head>


<body>
    <dark-mode-toggle id="dark-mode-toggle-1" legend="Theme Switcher" appearance="switch" dark="Dark" light="Light"
        remember="Remember this"></dark-mode-toggle>

    <div class="cortazar">
        <header class="cortazar__encabezado">
            <h1>Poemas</h1>
            <div>
                <nav>
                    <ul>
                        <li><a href="../index.html" class="btn">INICIO</a></li>
                        <li><a href="./nosotros.html" class="btn">NOSOTROS</a></li>
                        <li><a href="./contacto.html" class="btn">CONTACTO</a></li>
                        <li><a href="www.instagram.com/roger_suleta/" target="_blank" class="btn">POESIA
                                NOCTURNA</a></li>
                    </ul>
                    <hr>
                    <ul>
                        <li><a href="./lordByron.html" class="btn">BYRON</a></li>
                        <li><a href="./neruda.html" class="btn">NERUDA</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main class="cortazar__cuerpoPrincipal">
            <section class="cortazar__bio">
                <h2>Biografía</h2>
                <img src="../views/img/imgJulioCortazar.jpg" alt="Imagen de la cara de Julio Cortazar">
                <p class="cortazar__txt1">Julio Cortázar nació en Bruselas el 26 de agosto de 1914. Cuando tenía
                    cuatro
                    años de edad se
                    mudó con sus padres a Argentina, donde pasó su infancia, adolescencia y parte de su juventud. En
                    1951
                    se trasladó a París, donde comenzó a trabajar como traductor para la Unesco y realizó sus
                    primeras
                    publicaciones.
                    De su obra puede rescatarse la increíble capacidad para mezclar fantasía con realidad y crear
                    tramas
                    estupendas y atrapantes. Si bien escribió principalmente relatos, también dejó algunas novelas y
                    varios poemarios; era un autor absolutamente apasionado por las letras en general y supo
                    destacarse en todo género que abordó.</p>
                <p class="cortazar__txt2">
                    El rasgo que mejor lo definía era la soledad, así lo expresó en más
                    de una ocasión, considerando que sólo a través de la reclusión y la cercanía con uno mismo era
                    posible escribir algo medianamente bueno.
                    Sin duda fue uno de los autores consagrados del siglo pasado más irreemplazables. Dejó obras
                    como
                    "Bestiario", "Final del juego" e "Historias de Cronopios y de
                    Famas" que lo han puesto en la lista de escritores más leídos de nuestro tiempo. En nuestra web
                    podrás leer algunas de sus poesías,
                    tales como "Una idea", "Nocturno" y "Poema a Dios, ese pajarito mandón".</p>
            </section>
            <hr>
            <section class="cortazar__ambientacion">
                <h2>Ambientación musical</h2>
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kjlu9RRHcbE" title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </section>
            <hr>
            <section class="cortázar__poemas">
                <div>
                    <h2>libro: desconocido</h2>
                    <h3>"No volveremos a vagar"</h3>
                    <p>Así es, no volveremos a vagar
                        Tan tarde en la noche,
                        Aunque el corazón siga amando
                        Y la luna conserve el mismo brillo.</p>
                    <p>Pues la espada gasta su vaina,
                        Y el alma desgasta el pecho,
                        Y el corazón debe detenerse a respirar,
                        Y aún el amor debe descansar.</p>
                    <p>Pues la espada gasta su vaina,
                        Y el alma desgasta el pecho,
                        Y el corazón debe detenerse a respirar,
                        Y aún el amor debe descansar.</p>
                    <hr>
                    <h3>Te Amo por ceja...</h3>
                    <p>Te amo por ceja, por cabello, te debato en corredores
                        blanquísimos donde se juegan las fuentes
                        de la luz,</p>
                    <p>te discuto a cada nombre, te arranco con delicadeza
                        de cicatriz,</p>
                    <p>voy poniéndote en el pelo cenizas de relámpago y
                        cintas que dormían en la lluvia.</p>
                    <p>No quiero que tengas una forma, que seas
                        precisamente lo que viene detrás de tu mano,</p>
                    <p>porque el agua, considera el agua, y los leones
                        cuando se disuelven en el azúcar de la fábula,</p>
                    <p>y los gestos, esa arquitectura de la nada,
                        encendiendo sus lámparas a mitad del encuentro.</p>
                    <p> Todo mañana es la pizarra donde te invento y te
                        dibujo,</p>
                    <p>pronto a borrarte, así no eres, ni tampoco con ese
                        pelo lacio, esa sonrisa.</p>
                    <p>Busco tu suma, el borde de la copa donde el vino
                        es también la luna y el espejo,</p>
                    <p>busco esa línea que hace temblar a un hombre en
                        una galería de museo.
                        Además te quiero, y hace tiempo y frío.</p>
                </div>
            </section>

        </main>

        <footer class="cortazar__pieDePagina">
            <div>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                    <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="www.instagram.com/roger_suleta/" target="_blank" class="btn">SÍGUENOS</a></li>
                </ul>
            </div>

        </footer>

    </div>
</body>

</html>