<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>Poesía nocturna | Lord Byron</title>
    <meta name="title" content="Poesía nocturna | Lord Byron">
    <meta name="description"
        content="Si amas la poesía, te gusta Lord Byron, visita mi página, sírvete un rico café, dale play a las canciones que seleccionamos y lee los poemas que más te gusten. Sugiéreme poemas que te gustaría que subamos, autores, etc.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Poesía nocturna | Lord Byron">
    <meta property="og:description"
        content="Si amas la poesía, te gusta Lord Byron, visita mi página, sírvete un rico café, dale play a las canciones que seleccionamos y lee los poemas que más te gusten. Sugiéreme poemas que te gustaría que subamos, autores, etc.">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Poesía nocturna | Lord Byron">
    <meta property="twitter:description"
        content="Si amas la poesía, te gusta Lord Byron, visita mi página, sírvete un rico café, dale play a las canciones que seleccionamos y lee los poemas que más te gusten. Sugiéreme poemas que te gustaría que subamos, autores, etc.">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="../css/dark.css">
    <script type="module" src="https://unpkg.com/dark-mode-toggle"></script>




</head>



<body class="byron">
    <dark-mode-toggle id="dark-mode-toggle-1" legend="Theme Switcher" appearance="switch" dark="Dark" light="Light"
        remember="Remember this"></dark-mode-toggle>

    <header class="byron__encabezado">
        <h1>Poemas</h1>
        <div>
            <nav>
                <ul>
                    <li><a href="./nosotros.html" class="btn">NOSOTROS</a></li>
                    <li><a href="./contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="www.instagram.com/roger_suleta/" target="_blank" class="btn">SEGUINOS</a></li>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                </ul>
                <hr>
                <ul>
                    <li><a href="./neruda.html" class="btn">PABLO NERUDA</a></li>
                    <li><a href="./julioCortázar.html" class="btn">JULIO CORTÁZAR</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="byron__cuerpoPrincipal">
        <section class="byron__ambientación">
            <h2>Ambientación musical</h2>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kjlu9RRHcbE"
                    title="YouTube video player"
                    allowfullscreen></iframe>
            </div>
        </section>
        <hr>
        <section class="byron__poemas">
            <div class="byron__poema1">
                <h2>Desconocido</h2>
                <h3>"Camina bella, como la noche..."</h3>
                <p>Camina bella, como la noche</p>
                <p>De climas despejados y de cielos estrellados,</p>
                <p>todo lo mejor de la oscuridad y de la luz</p>
                <p>Resplandece en su aspecto y en sus ojos, </p>
                <p>Enriquecida así por esa tierna luz </p>
                <p>Que el cielo niega al vulgar día.</p>
                <p>Una sombra de más, un rayo de menos,</p>
                <p>Hubieran mermado la gracia inefable</p>
                <p>Que se agita en cada trenza suya de negro brillo,</p>
                <p>O ilumina suavemente su rostro,</p>
                <p>Donde dulces pensamientos expresan</p>
                <p>Cuán pura, cuán adorable es su morada.</p>
                <p>Y en esa mejilla, y sobre esa frente, </p>
                <p>Son tan suaves, tan tranquilas, y a la vez elocuentes,</p>
                <p>Las sonrisas que vencen, los matices que iluminan </p>
                <p>Y hablan de días vividos con felicidad. </p>
                <p>Una mente en paz con todo, </p>
                <p>¡Un corazón con inocente amor!</p>
            </div>
        </section>


    </main>


    <footer class="byron__pieDePágina">

        <div>
            <ul>
                <li><a href="../index.html" class="btn">INICIO</a></li>
                <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                <li><a href="www.instagram.com/roger_suleta/" target="_blank" class="btn">SÍGUENOS</a></li>
            </ul>
        </div>

    </footer>

</body>

</html>