<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Poesia nocturna. Biografia de Lord Byron. Poemas de Lord Byron. Musica para escuchar mientras lees poesia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poesia nocturna | Lord Byron</title>
    <link rel="stylesheet" href="../css/style.css">





</head>



<body class="byron">
    <header class="byron__encabezado">
        <h1>Poemas</h1>
        <div>
            <nav>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="byron__cuerpoPrincipal">
        <section class="byron__ambientacion">
            <h2>Ambientacion musical</h2>
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kjlu9RRHcbE"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div>
                <hr>
            </div>
            <section class="byron__poemas">
                <div class="byron__poema1">
                    <h2>Desconocido</h2>
                    <h3>"Camina bella, como la noche..."</h3>
                    <p>Camina bella, como la noche</p>
                    <p>De climas despejados y de cielos estrellados,</p>
                    <p>todo lo mejor de la oscuridad y de la luz</p>
                    <p>Resplandece en su aspecto y en sus ojos, </p>
                    <p>Enriquecida así por esa tierna luz </p>
                    <p>Que el cielo niega al vulgar día.</p>
                    <p>Una sombra de más, un rayo de menos,</p>
                    <p>Hubieran mermado la gracia inefable</p>
                    <p>Que se agita en cada trenza suya de negro brillo,</p>
                    <p>O ilumina suavemente su rostro,</p>
                    <p>Donde dulces pensamientos expresan</p>
                    <p>Cuán pura, cuán adorable es su morada.</p>
                    <p>Y en esa mejilla, y sobre esa frente, </p>
                    <p>Son tan suaves, tan tranquilas, y a la vez elocuentes,</p>
                    <p>Las sonrisas que vencen, los matices que iluminan </p>
                    <p>Y hablan de días vividos con felicidad. </p>
                    <p>Una mente en paz con todo, </p>
                    <p>¡Un corazón con inocente amor!</p>
                </div>
            </section>
        </section>


    </main>


    <footer class="byron__pieDePagina">

        <div>
            <ul>
                <li><a href="../index.html" class="btn">INICIO</a></li>
                <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                <li><a href="https://www.instagram.com/roger_suleta/" target="_blank" class="btn">SEGUINOS</a></li>
            </ul>
            <div>
                <hr>
            </div>
            <ul>
                <li><a href="./julioCortazar.html" class="btn">BYRON</a></li>
                <li><a href="./neruda.html" class="btn">NERUDA</a></li>
            </ul>
        </div>

    </footer>

</body>

</html>