<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Poesía nocturna. Biografía de Neruda. Poemas de Neruda. Música para escuchar mientras lees poesía">
    <!-- Primary Meta Tags -->
    <title>Poesía nocturna | Neruda </title>
    <meta name="title" content="Poesía nocturna | Neruda ">
    <meta name="description"
        content="Si amas la poesía, visita mi página, sírvete un rico café, dale play a las canciones que seleccionamos y lee los poemas que más te gusten. Sugiéreme poemas que te gustaría que subamos, autores, etc.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Poesía nocturna | Neruda ">
    <meta property="og:description"
        content="Si amas la poesía, visita mi página, sírvete un rico café, dale play a las canciones que seleccionamos y lee los poemas que más te gusten. Sugiéreme poemas que te gustaría que subamos, autores, etc.">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Poesía nocturna | Neruda ">
    <meta property="twitter:description"
        content="Si amas la poesía, visita mi página, sírvete un rico café, dale play a las canciones que seleccionamos y lee los poemas que más te gusten. Sugiéreme poemas que te gustaría que subamos, autores, etc.">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">


    <link rel="stylesheet" href="../css/style.css">

</head>

<body>
    <div class="neruda">
        <header class="neruda__encabezado">
            <h1>Poemas</h1>
            <nav>
                <ul>
                    <li><a href="./nosotros.html" class="btn">NOSOTROS</a></li>
                    <li><a href="./contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="https://www.instagram.com/roger_suleta/" target="_blank" class="btn">POESÍA
                            NOCTURNA</a></li>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                </ul>
                <hr>
                <ul>
                    <li><a href="./lordByron.html" class="btn">BYRON</a></li>
                    <li><a href="./julioCortázar.html" class="btn">JULIO CORTÁZAR</a></li>
                </ul>
            </nav>
        </header>

        <main class="neruda__cuerpoPrincipal">
            <section class="neruda__ambientacion">
                <h2>Ambientación musical</h2>
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/kjlu9RRHcbE"
                        title="YouTube video player"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </section>
            <section class="neruda__poemas">
                <h2>"De "Veinte poemas de amor y una canción desesperada""</h2>
                <div class="neruda__poema20">
                    <h3>"Poema 20"</h3>
                    <p>PUEDO escribir los versos más tristes esta noche.</p>
                    <p>Escribir, por ejemplo: "La noche está estrellada,
                        y tiritan, azules, los astros, a lo lejos".</p>
                    <p> El viento de la noche gira en el cielo y canta.</p>
                    <p>Puedo escribir los versos más tristes esta noche.
                        Yo la quise, y a veces ella también me quiso.</p>
                    <p>En las noches como esta la tuve entre mis brazos.La besé tantas veces bajo el cielo infinito.</p>
                    <p>Ella me quiso, a veces yo también la quería.
                        Cómo no haber amado sus grandes ojos fijos.</p>
                    <p>Puedo escribir los versos más tristes esta noche.
                        Pensar que no la tengo. Sentir que la he perdido.</p>
                    <p>Oír la noche inmensa, más inmensa sin ella.
                        Y el verso cae al alma como pasto el rocío.</p>
                    <p>Qué importa que mi amor no pudiera guardarla.
                        La noche está estrellada y ella no está conmigo.</p>
                    <p>Eso es todo. A lo lejos alguien canta. A lo lejos.
                        Mi alma no se contenta con haberla perdido.</p>
                    <p>Como para acercarla mi mirada la busca.
                        Mi corazón la busca, y ella no está conmigo. </p>
                    <p> La misma noche que hace blanquear los mismos árboles.
                        Nosotros, los de entonces, ya no somos los mismos.</p>
                    <p>Ya no la quiero, es cierto, pero cuánto la quise.
                        Mi voz buscaba el viento para tocar su oído.</p>
                    <p>De otro. Será de otro. Como antes de mis besos.
                        Su voz, su cuerpo claro. Sus ojos infinitos.</p>
                    <p>Ya no la quiero, es cierto, pero tal vez la quiero.
                        Es tan corto el amor, y es tan largo el olvido. </p>
                    <p>Porque en noches como esta la tuve entre mis brazos,
                        mi alma no se contenta con haberla perdido. </p>
                    <p>Aunque este sea el último dolor que ella me causa,
                        y estos sean los últimos versos que yo le escribo.</p>
                </div>
                <div class="neruda__poema2">
                    <h3>"Poema 2</h3>
                    <p>En su llama mortal la luz te envuelve.
                        Absorta, pálida, doliente, así situada
                        contra las viejas hélices del crepúsculo
                        que en torno a ti da vueltas.</p>
                    <p>Muda, mi amiga,
                        sola en lo solitario de esta hora de muertes
                        y llena de las vidas del fuego,
                        pura heredera del día destruido.</p>
                    <p>Del sol cae un racimo en tu vestido oscuro.
                        De la noche las grandes raíces
                        crecen de súbito desde tu alma,
                        y a lo exterior regresan las cosas en ti ocultas,
                        de modo que un pueblo pálido y azul
                        de ti recién nacido se alimenta.
                    </p>
                    <p>Del sol cae un racimo en tu vestido oscuro.
                        De la noche las grandes raíces
                        crecen de súbito desde tu alma,
                        y a lo exterior regresan las cosas en ti ocultas,
                        de modo que un pueblo pálido y azul
                        de ti recién nacido se alimenta.
                    </p>
                </div>
                <div class="neruda__poema11">
                    <h3>Poema 11</h3>
                    <p>Abeja blanca zumbas -ebria de miel- en mi alma
                        y te tuerces en lentas espirales de humo.</p>
                    <p>Soy el desesperado, la palabra sin ecos,
                        el que lo perdió todo, y el que todo lo tuvo.</p>
                    <p>Última amarra, cruje en ti mi ansiedad última.
                        En mi tierra desierta eres la última rosa.</p>
                    <p>Última amarra, cruje en ti mi ansiedad última.
                        En mi tierra desierta eres la última rosa.</p>
                    <p>Última amarra, cruje en ti mi ansiedad última.
                        En mi tierra desierta eres la última rosa.</p>
                    <p>Tienes ojos profundos donde la noche alea.
                        Frescos brazos de flor y regazo de rosa.</p>
                    <p>Se parecen tus senos a los caracoles blancos.
                        Ha venido a dormirse en tu vientre una mariposa de sombra.
                    </p>
                    <p>Ah silenciosa!</p>
                    <p>He aquí la soledad de donde estás ausente.
                        Llueve. El viento del mar caza errantes gaviotas.</p>
                    <p>El agua anda descalza por las calles mojadas.
                        De aquel árbol se quejan, como enfermos, las hojas.
                    </p>
                    <p>Abeja blanca, ausente, aún zumbas en mi alma.
                        Revives en el tiempo, delgada y silenciosa.</p>
                    <p>Ah silenciosa!</p>
                </div>
            </section>

        </main>

        <footer class="neruda__pieDePágina">
            <div>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                    <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="https://www.instagram.com/roger_suleta/" target="_blank" class="btn">SÍGUENOS</a></li>
                </ul>
            </div>

        </footer>

    </div>

</body>

</html>