<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>Poesía nocturna | Quienes somos</title>
    <meta name="title" content="Poesía nocturna | Quienes somos">
    <meta name="description" content="¿Por qué nos gusta la poesía? Entra y conocemos un poco más. ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Poesía nocturna | Quienes somos">
    <meta property="og:description" content="¿Por qué nos gusta la poesía? Entra y conocemos un poco más. ">
    <meta property="og:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Poesía nocturna | Quienes somos">
    <meta property="twitter:description" content="¿Por qué nos gusta la poesía? Entra y conocemos un poco más. ">
    <meta property="twitter:image"
        content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <link rel="stylesheet" href="../css/style.css">


</head>


<body>
    <div class="nosotros">
        <header class="nosotros__encabezado">
            <h1>Poesía Nocturna</h1>
            <nav>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                    <li><a href="./contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="https://www.instagram.com/roger_suleta/" target="_blank" class="btn">POESÍA
                            NOCTURNA</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="nosotros__cuerpoPrincipal">
                <h2>NOSOTROS</h2>
                <section class="nosotros__texto">
                    <h3>Amor a la poesía</h3>
                    <p>Soy Rogelio Suleta. Amo los poemas, en general, sin discriminación de ningún tipo, formato,
                        autor.
                    </p>
                    <p>Uno de mis sueños frustrados es ser escritor, por eso pensé en armar este proyecto donde todos
                        puedan recurrir a diversos poemas de diversos autores y leerlos, disfrutarlos.</p>
                    <p>Esto es para todos aquellos que disfruten de leer poesía</p>
                </section>
                <section class="nosotros__galeríaImágenes">
                    <h2>Galería de imágenes utilizadas en la página</h2>
                    <div class="nosotros__imagen1"> <img src="./img/fondo.jpg"
                            alt="Imágen en blanco y negro, como un dia gris, de una calle de dos manos, debajo de un puente de tren.">
                    </div>
                    <div class="nosotros__imagen2"><img src="./img/julioCortázar.jpg"
                            alt="Imagen de un césped verde fuente húmedo por la caída del rocío."></div>
                    <div class="nosotros__imagen3"><img src="./img/lordByron.jpg"
                            alt="Imagen de pasto verde, con tonos azulados, el cual está desenfocado. En el centro, enfocado, unas flores de hojas blancas y centro amarillo llamadas Anémonas, apodada en la antigua Grecia como la hija del viento">
                    </div>
                    <div class="nosotros__imagen4"><img src="./img/neruda.jpg"
                            alt="Imagen en blanco y negro de una chica desnuda, sentada en posición fetal en una bañera, cubriéndose, mirando hacia la izquierda. Detrás de ella se ve un velo blanco.">
                    </div>
                </section>
            </section>
        </main>

        <footer class="nosotros__pieDePágina">
            <div>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                    <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="https://www.instagram.com/roger_suleta/" target="_blank" class="btn">SEGUINOS</a></li>
                </ul>
            </div>

        </footer>

    </div>

</body>


</html>