<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../css/style.css">

</head>


<body>
    <div class="nosotros">
        <header class="encabezadoNosotros">
            <h1>Poesia Nocturna</h1>
            <nav>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="cuerpoPrincipalNosotros">
                <h2>Nosotros</h2>
                <section class="texto-nosotros">
                    <p>Soy Rogelio Suleta. Amo los poemas, en general, sin discriminacion de ningun tipo, formato,
                        autor.
                    </p>
                    <p>Uno de mis sueños frustados es ser escritor, por eso pense en armar este proyecto donde todos
                        puedan
                        recurrir a diversos poemas de diversos autores y leerlos, disfrutarlos</p>
                    <p>Esto es para todos aquellos que disfruten de leer poesia</p>
                </section>
                <section class="galeria-imagenes">
                    <h2>Galeria de imagenes utilizadas en la pagina</h2>
                    <div class="imagen1"> <img src="./img/fondo.jpg" alt=""></div>
                    <div class="imagen2"><img src="./img/julioCortazar.jpg" alt=""></div>
                    <div class="imagen3"><img src="./img/lordByron.jpg" alt=""></div>
                    <div class="imagen4"><img src="./img/neruda.jpg" alt=""></div>
                    
                </section>
            </section>
        </main>

        <footer class="pieDePaginaNosotros">
            <div>
                <ul>
                    <li><a href="../index.html" class="btn">INICIO</a></li>
                    <li><a href="../views/contacto.html" class="btn">CONTACTO</a></li>
                    <li><a href="https://www.instagram.com/migueldiosquezdupuy/" target="_blank" class="btn">SEGUINOS</a></li>
                </ul>
            </div>

        </footer>

    </div>
    
</body>


</html>