
/*===============CONTACTO==============*/


.contacto {
    background-color: $color-primario;
    @include border();


    &__encabezado {
        padding: 10px;
        font-size: $fuente-encabezado;
        @include flex-box (column, center, flex-start);
        gap: 15px;
        background-color: $color-contacto;
        box-shadow: 0px 0px 15px black;
        position: sticky;
        top: 0;
        z-index: 2;

        hr{
            margin: 0;
            height: 1px;
            color: black;
        }

        &:hover li{
            margin: 15px 0px 15px;
        }
    }

    &__formulario h2 {
        margin: 10px;
        margin-top: 10px;
        font-size: $fuente-h2;
        padding: 10px;
        @include border();
        text-align: center;
        background-color: $color-contacto;
    }

    &__usuario {
        padding: 15px;
        margin: 10px;
        @include border();
        @include flex-box(row, space-between, center);
        background-color: $color-contacto;

        input {
            padding: 15px;
            border-radius: 20px;
            @include border();
        }
    }



    &__email {
        width: 75vw;
        padding: 15px;
        margin: 10px;
        @include border();
        @include flex-box(row, space-between, center);
        background-color: $color-contacto;

        input {
            padding: 15px;
            border-radius: 20px;
            border: black 2px groove;
        }
    }



    &__mensaje {
        padding: 15px;
        margin: 10px;
        @include border();
        @include flex-box(row, space-between, center);
        background-color: $color-contacto;
        width: 90%;

        textarea{
            padding: 10px;
            border-radius: 20px;
            @include border();
        }

    }

    &__asuntos {
        width: 70%;
        padding: 10px;
        margin: 10px;
        @include border();
        @include flex-box(row, space-between, center);
        background-color: $color-contacto;

        select {
            padding: 15px;
            border-radius: 20px;
            @include border();
        }
    }


    &__género {
        margin: 10px;
        @include flex-box(row, space-between, center);
        @include border();
        background-color: $color-contacto;
        padding: 20px;
    }

    &__novedades {
        width: 45%;
        margin: 10px;
        padding: 20px;
        align-items: center;
        @include border();
        background-color: $color-contacto;
    }

    &__enviar {
        margin: 10px;
        padding: 10px;
        @include border();
        background-color: $color-contacto;
    }


    #reset {
        padding: 13px;
        border-radius: 20px;
        @include border();
        animation-name: heartbeat ;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function:ease-in-out;
    }

    #submit {
        padding: 13px;
        border-radius: 20px;
        @include border();
        animation-name: heartbeat ;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function:ease-in-out;
    }

    &__pieDePágina {
        font-size: $fuente-piedepagina;
        padding: 10px;
        @include border();
        background-color: $color-contacto;

        div ul {
                @include flex-box(column, center, flex-start);
            }

        &:hover li{
            display: flex;
            gap: 10px;
            margin: 5px 0px 5px;
        }
        }
}



/*=======Vista Desktop======*/


@media (min-width:1100px) {

    .contacto {
        background-image: url(../views/img/contacto.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;

        &__encabezado {
            padding: 15px;
            @include flex-box(row, space-around, center);


            hr{
                display: none;
            }
        }

        &__formulario h2 {
            width: 70%;
            margin: 0;
            margin-top: 2vw;
            margin-left: 10px;
        }


        &__usuario {
            width: 70%;
        }

        &__email {
            width: 70vw;
        }

        &__mensaje {
            width: 80vw;
        }

        &__asuntos {
            width: 40vw;
        }

        &__genero {
            width: 60vw;
        }

        &__novedades {
            width: 40vw;
            display: flex;
            gap: 40px;
        }

        &__enviar {
            width: 50%;
            @include flex-box(row, space-around, center);

        }



        &__pieDePágina {
            height: auto;
            margin-top: 55px;

            div {
                padding-bottom: 40px
            }

            ul {
                @include flex-box(row, space-between, center);
            }
        }
    }
}