/* ==========index========== */

.index {
    background-image: url(../views/img/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-color: black;
    border-style: groove;
    border-width: 2px;


    /* ======ENCABEZADO===== */

    &__encabezado {
        @include flex-box(column, flex-start, flex-start);
        font-size: $fuente-encabezado;
        padding: 15px;
        background-color: $color-primario;
        border-bottom: black 2px groove;
        position: sticky;
        top: 0;
        z-index: 4;

        &:hover li {
            margin: 25px 0px 25px;
        }
    }


    /* ======CUERPO PRINCIPAL===== */

    &__cuerpoPrincipal {
        margin: 10px;
        @include flex-box(column, space-between, flex-start);
    }


    /* ======SECTION POETAS===== */

    &__poetas {
        margin: 10px;
        background-color: $color-primario;
        border: black 2px groove;
        font-size: $fuente-h2;
        @include flex-box(column, flex-start, flex-start);
        gap: 40px;
        animation-name: scale-in-top;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
    

        h2{
            font-size: $fuente-h2;
            padding: 10px;
            width: 100%;
            text-align: center;
        }

        div {
            border: black 2px groove;
            width: 100%;
            background-color: rgba(128, 128, 128, 0.921);

            ul {
                padding: 20px;

                li {
                    display: flex;
                    gap: 20px;

                    img {
                        height: 25vh;
                        border: 2px groove black;
                        padding: 3px;
                    }
                }
            }
        }
    }


    &__ner {
        position: sticky;
        top: 200px;
        z-index: 1;
    }

    &__cor {
        position: sticky;
        top: 95px;
        z-index: 2;
    }

    &__byr {
        position: sticky;
        top: 95px;
        z-index: 3;
    }




    /* ======SECCION MUSICA PARA LEER===== */

    &__musicaParaLeer {
        margin-top: 10px;
        @include flex-box(column, center, center);
        gap: 20px;
        animation-name: scale-in-top;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;

        h2 {
            margin: 10px;
            font-size: $fuente-h2;
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.616), rgba(255, 255, 255, 0.589), rgba(0, 0, 0, 0.616));
            border-color: black;
            border-width: 2px;
            border-style: groove;
            position: sticky;
            top: 150px;

            div {
                padding: 10px;
                @include flex-box(column, space-between, center);
                gap: 20px;

                ul {
                    @include flex-box(column, flex-start, center);
                    gap: 40px;
                    border-color: black;
                    border-width: 2px;
                    border-style: groove;
                    background-color: $color-primario;

                    li {
                        border-color: black;
                        border-width: 2px;
                        border-style: groove;
                        border-radius: 5px;
                    }
                }
            }
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }

    /* ======SECCION LIBRO POETAS======= */

    &__librosPoetas {
        margin-top: 20px;
        @include flex-box(column, flex-start, flex-start);
        gap: 20px;
        animation-name: scale-in-top;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;

        h2 {
            width: 100%;
            padding: 10px;
            margin: 10px;
            font-size: $fuente-h2;
            background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.616), rgba(255, 255, 255, 0.589), rgba(0, 0, 0, 0.616));
            border-color: black 2px groove;
            position: sticky;
            top: 150px;

            div {
                padding: 10px;
                margin: 10px;
                @include flex-box(column, space-between, center);
                gap: 20px;

                ul {
                    background-color: $color-primario;
                    margin: 10px;
                    border-color: black;
                    border-width: 2px;
                    border-style: groove;
                    @include flex-box(column, space-between, center);
                    gap: 10px;
                }
            }
        }
    }




    /* ======PIE DE PAGINA===== */


    &__pieDePágina {
        @include flex-box(column, space-between, flex-start);
        font-size: $fuente-piedepagina;
        border-style: groove;
        border-color: black;
        border-width: 2px;
        margin-top: 20px;
        background-color: $color-primario;
        gap: 10px;



        div ul {
                gap: 20px;

                li {
                    padding: 5px;
                    margin: 20px 0px 20px;
                }
            }
        }
    }






/* =====VERSION DESKTOP===== */

@media (min-width:1100px) {

    .index {
        border-width: 2px;

        &__encabezado {
            padding: 5px;
            @include flex-box(row, space-between, center);
            position: sticky;
            top: 0;
            z-index: 4;

            nav ul {
                @include flex-box(row, space-between, center);
                gap: 20px;
            }
        }



        /* ======AQUI EN LA VERISON DESKTOP SE APLICA GRID===== */

        &__cuerpoPrincpal {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: auto 50% 50%;
            grid-template-areas:

                "poetas"
                "musica"
                "libros"
            ;

        }


        &__poetas {
            width: 100%;
            grid-area: poetas;
            margin-right: 5vw;

            gap: 10vw;
            padding: 10px;
            margin: 10px;
            @include flex-box(row, space-between, center);
            overflow: auto;

            div ul {
                @include flex-box(row, space-between, center);
                gap: 30px;

            }

        }


        &__músicaParaLeer {
            grid-area: musica;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 90%;

            grid-template-areas:

                "titulo"
                "video"

            ;

            h2 {
                padding: 10px;
                font-size: $fuente-h2;
                border-color: black;
                border-width: 2px;
                border-style: groove;
                top: 100px;
                grid-area: titulo;
                text-align: center;
            }

            div {
                padding: 10px;
                gap: 20px;

                ul {
                    grid-area: video;
                    border: black 2px groove;
                    background-color: $color-primario;
                    margin: 5px;
                    padding: 5px;
                    @include flex-box(row, space-between, center);
                    flex-wrap: wrap;
                    gap: 50px;

                    li {
                        border: 2px groove black;
                    }
                }
            }
        }

        &__video {
            width: 30vw;
            height: 30vh;
        }


        &__librosPoetas {
            margin-top: 30px;
            gap: 10px;
            grid-area: libros;
            align-self: center;

            h2 {
                text-align: center;
                top: 100px;
            }

            div {
                margin-top: 30px;
                gap: 10px;

                ul {
                    background-color: $color-primario;
                    @include flex-box(row, space-between, center);
                    flex-wrap: wrap;
                    margin: 10px;
                    padding: 10px;
                    gap: 10vw;
                }
            }
        }

        &__pieDePágina {
            padding: 10px;
            border-style: groove;
            border-color: black;
            border-width: 2px;
            border-radius: 5px;

            div {
                width: 100%;
            }

            ul {
                @include flex-box(row, space-between, center);
            }
        }
    }
}