
/* ===============Julio Cortazar================= */


.cortazar {
    background-image: url(../views/img/julioCortazar.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-color: black;
    border-width: 2px;
    border-style: groove;

    /* ========HEADER=========== */

    a {
        color: $color-secundario;
    }



    &__encabezado {
        height: 20vh;
        font-size: $fuente-encabezado;
        color: $color-primario;
        @include flex-box (column, center, flex-start);
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: $color-cor;
        border-style: groove;
        border-radius: 10px;
        border-color: black;
        border-width: 2px;
        padding: 5px;
        margin: 5px;
        gap: 10px;
    }

    &__cuerpoPrincipal {
        padding: 5px;
        margin: 5px;
        @include flex-box (column, center, flex-start);
        gap: 20px;
    }


    &__bio{
        color: $color-primario;
        border-radius: 5px;
        background-color: $color-cor;
        padding: 10px;
        @include flex-box (column, space-between, center);
        gap: 20px;

        img{
            border-radius: 150px;
            object-fit: cover;
            object-position: center;
        }

        p{
            font-size: $fuente-p;
            text-align: justify;
        }
    }



    &__ambientación {
        width: 50%;

        h2 {
            border-color: black;
            border-style: groove;
            border-width: 2px;
            font-size: $fuente-h2;
            padding: 10px;
            color:$color-primario;
            background-color: $color-cor;
        }
    }

    &__poemas {
        background-color: $color-cor;
        color: $color-primario;
        border-color: black;
        border-style: groove;
        border-width: 2px;
        padding: 2vw;

        h2 {
            border-color: black;
            border-style: groove;
            border-width: 2px;
            font-size: $fuente-h2;
            padding: 10px;
            background-color: $color-cor;
            color: $color-primario;
        }

        h3 {
            border-color: black;
            border-style: groove;
            border-width: 2px;
            font-size: $fuente-h3;
            margin-top: 1vw;
            background-color: $color-cor;
            color: $color-primario;
        }

        p {
            font-size: $fuente-p;
            padding-top: 1vw;
        }
    }

    &__poema1 p{
        font-size: $fuente-p;
        color: $color-primario;
        padding: 2vw;
    }


    &__pieDePagina {
        height: 22vh;
        padding-top: 3vh;
        background-color: $color-cor;
        color: $color-primario;
        font-size: $fuente-piedepagina;

        div ul {
            @include flex-box (row, space-around, center);
            margin-top: 20px;
            margin-bottom: 20px;
        }
        hr {
            margin: 0;
            margin: 5px;
            border: 1px solid rgb(11, 11, 11);
            height: 1px;
            width: 95vw;
            background-color: black;
        }
    }
}


@media (min-width:1100px) {

    .cortazar {
        border-width: 2px;


        &__encabezado {
            font-size: 24px;
            @include flex-box (row, space-between, center);

            div nav ul {
                @include flex-box (row, space-between, center);
                gap: 20px;
            }
        }

        &cuerpoPrincipal {
            padding: 10px;
            border-radius: 5px;
            border-color: black;
            border-style: groove;
            border-width: 2px;
            @include flex-box (row, space-between, center);
            gap: 20px;
        }


        &__bio{
            width: 100%;
            padding: 30px;
            display: grid;
            grid-template-columns: 20% 80%;
            grid-template-rows: 50% 50%;

            grid-template-areas:
            
            "img txt1"
            "txt2 txt2"
            
            ;

            img {
                height: 100%;
                width: 100%;
            }
        }


        &__txt1 {
            width: 95%;
            grid-area: txt1;
        }

        &__txt2 {
            width: 95%;
            grid-area: txt2;
        }



        &__pieDePagina {
            padding: 10px;
            background-color: $color-cor;
            div ul {
                @include flex-box (row, space-between, center);
                color: $color-primario;
                margin-top: 20px;    
            }
        }
    }
}
