
/* ===============Julio Cortazar================= */


.cortázar {
    background-image: url(../views/img/julioCortázar.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @include border();
    animation-name: text-focus-in;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;

    /* ========HEADER=========== */

    a {
        color: $color-secundario;
    }



    &__encabezado {
        font-size: $fuente-encabezado;
        color: $color-primario;
        @include flex-box (column, center, flex-start);
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: $color-cor;
        @include border();
        padding: 5px;

        hr{
            margin: 0;
            height: 1px;
        }
        ul{
            padding: 10px;
        }

        &:hover li{
            margin: 25px 0px 25px;
        }
    }

    &__cuerpoPrincipal {
        padding: 5px;
        margin: 5px;
        @include flex-box (column, center, flex-start);
        gap: 20px;
    }


    &__bio{
        color: $color-primario;
        border-radius: 5px;
        background-color: $color-cor;
        padding: 10px;
        @include flex-box (column, space-between, center);
        gap: 10px;
        h2{
            font-size: $fuente-h2;
        }

        img{
            border-radius: 150px;
            object-fit: cover;
            object-position: center;
        }

        p{
            font-size: $fuente-p;
            text-align: justify;
        }

    }

    hr{
        width: 90vw;
    }

    &__ambientación {
        width: 100%;

        h2 {
            width: 50%;
            @include border();
            font-size: $fuente-h2;
            padding: 10px;
            color:$color-primario;
            background-color: $color-cor;
        }
        iframe{
            width: 50%;
            height: 50%;
        }
    }

    &__poemas {
        background-color: $color-cor;
        color: $color-primario;
        @include border();
        padding: 10px;
        width: 100%;

        h2 {
            @include border();
            font-size: $fuente-h2;
            padding: 10px;
            background-color: $color-cor;
            color: $color-primario;
        }

        h3 {
            @include border();
            font-size: $fuente-h3;
            margin-top: 1vw;
            background-color: $color-cor;
            color: $color-primario;
        }
        p{
            font-size: $fuente-p;
            color: $color-primario;
        }

        hr{
            width: 90%;
        }
}


    &__pieDePágina {
        padding: 15px;
        margin-top: 30px;
        background-color: $color-cor;
        color: $color-primario;
        font-size: $fuente-piedepagina;
        @include flex-box (column, center, flex-start);

        ul {
            @include flex-box (column, flex-start, flex-start);
        }
        &:hover li{
                display: flex;
                gap: 5px;
                margin: 5px 0px 0px 5px;
            }
        }

        hr {
            margin: 0;
            margin: 5px;
            border: 1px solid rgb(11, 11, 11);
            height: 1px;
            width: 90vw;
            background-color: black;
        }
    }




/*=======VISTA DESKTOP=======*/

@media (min-width:1100px) {

    .cortázar {
        border-width: 2px;


        &__encabezado {
            font-size: 24px;
            div nav ul {
                @include flex-box (row, space-between, center);
                gap: 20px;
            }

        }


        &__bio{
            padding: 20px;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 10% 40% 50%;

            grid-template-areas:
            
            "txt txt1"
            "img txt1"
            "txt2 txt2"
            
            ;


            h2{
                font-size: $fuente-h2;
                grid-area: txt;
            }

            img {
                padding-top: 65px;
                grid-area: img;
            }


        }

        

        &__txt1 {
            width: 95%;
            grid-area: txt1;
        }

        &__txt2 {
            width: 95%;
            grid-area: txt2;
        }



        &__pieDePágina {
            padding: 10px;
            background-color: $color-cor;
            div {
                width: 100%
            }
            ul {
                @include flex-box (row, space-between, center);
                color: $color-primario;
                margin-top: 20px;    
            }
        }
    }
}
