/* ==========NERUDA============ */


.neruda {
    background-image: url(../views/img/neruda.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @include border();

    /* ======ENCABEZADO===== */



    &__encabezado {
        font-size: $fuente-encabezado;
        padding: 15px;
        @include flex-box (column, center, flex-start);
        background-color: $color-primario;
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: 10px 0px 10px 10px black;
        gap: 10px;


        hr {
            margin: 15px;
            height: 1px;
        }

        &:hover li {
            margin: 10px 0px 0px 10px;
        }

    }




    /* ======CUERPO PRINCIPAL===== */

    &__cuerpoPrincipal {
        margin-top: 50px;
        @include flex-box (column, flex-start, flex-start);
    }




    /*=========Bíografia==========*/

    &__bio {
        width: 80%;
        align-self: center;
        color: $color-primario;
        border-radius: 5px;
        background-color: rgba(92, 70, 113, 0.466);
        padding: 10px;
        @include flex-box (column, space-between, center);
        gap: 10px;

        h2 {
            font-size: $fuente-h2;
        }

        img {
            border-radius: 150px;
            object-fit: cover;
            object-position: center;
        }

        p {
            font-size: $fuente-p;
            text-align: justify;
        }

    }


    /* ======AMBIENTACION===== */



    &__ambientacion {
        align-self: center;


        h2 {
            font-size: $fuente-h2;
            @include border();
            animation-name: color-change-2x;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }


    &__poemas h2 {
        margin-top: 50px;
        width: 60%;
        font-size: $fuente-h2;
        @include border();
        margin-left: 10px;
        animation-name: color-change-2x;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    &__poema20 h3 {
        width: max-content;
        @include border();
        font-size: $fuente-h3;
        padding: 10px;
        color: black;
    }


    &__poema20 {
        @include border();
        margin: 10px;
        padding: 10px;
        color: black;
        animation-name: color-change-2x;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

    }

    &__poema20 p {
        font-size: $fuente-p;
        font-weight: 900;
        padding: 10px;
        text-align: justify;
    }


    &__poema2 h3 {
        width: max-content;
        @include border();
        font-size: $fuente-h3;
        font-weight: 900;
        padding: 10px;
        color: black;
    }


    &__poema2 {
        @include border();
        padding: 10px;
        margin: 10px;
        color: black;
        animation-name: color-change-2x;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

    }


    &__poema2 p {
        font-size: $fuente-p;
        font-size: 900;
        padding: 10px;
        text-align: justify;
    }


    &__poema11 h3 {
        width: max-content;
        @include border();
        font-size: $fuente-h3;
        font-weight: 900;
        padding: 10px;
        color: black;
    }


    &__poema11 {
        @include border();
        padding: 10px;
        margin: 10px;
        color: black;
        animation-name: color-change-2x;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    &__poema11 p {
        font-size: $fuente-p;
        font-weight: 900;
        padding: 10px;
        text-align: justify;
    }

    &__pieDePagina {
        font-size: $fuente-piedepagina;
        margin-top: 10px;
        padding: 15px;
        background-color: $color-primario;
        @include border();
        @include flex-box (column, flex-start, flex-start);

        ul {
            @include flex-box (column, center, flex-start);
            gap: 10px;
        }

        &:hover li {
            margin: 15px 0px 0px 15px;
        }
    }
}






/* =====VERSION TABLET===== */

@media (min-width:760px) and (max-width:1099px) {

    .neruda {
        @include border();

        &__encabezado {
            @include flex-box(column, space-between, center);
            gap: 12px;
        }


        &__poemas {
            padding-bottom: 4rem;
            margin: 10px;
            @include grid(50% 50%, 8% 52% 40%,

                "titulo titulo"
                "poema20 poema20"
                "poema2 poema11"


            );

        }


        &__poema20 {
            grid-area: poema20;

        }

        &__poema2 {
            grid-area: poema2;

        }

        &__poema11 {
            height: max-content;
            grid-area: poema11;
        }


    }

}






/* ===========Vista Desktop============= */
@media (min-width: 1100px) {

    .neruda {
        border-width: 2px;


        &__encabezado nav ul {
            @include flex-box (row, space-between, center);
            padding: 10px;
        }


        &__cuerpoPrincipal {
            @include grid(repeat(2, 50%), 25% 15% 60%,


                "biografia biografia"
                "ambientacion ambientacion"
                "poemas poemas"
            );
            
            hr{
                display: none
            }

        }


        &__bio {
            margin-left: 10vw;
            grid-area: biografia;
            padding: 20px;
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: 10% 40% 50%;

            grid-template-areas:

                "txt txt1"
                "img txt1"
                "txt2 txt2"

            ;


            h2 {
                font-size: $fuente-h2;
                grid-area: txt;
            }

            img {
                padding-top: 100px;
                grid-area: img;
            }

            margin-bottom: 50px;

        }



        &__txt1 {
            width: 95%;
            grid-area: txt1;
        }

        &__txt2 {
            width: 95%;
            grid-area: txt2;
        }



        &__ambientacion {
            width: max-content;
            margin-left: 10vw;
            grid-area: ambientacion;

            iframe {
                width: 60vw;
                height: 30vh;
            }
        }

        &__poemas {
            grid-area: poemas;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas:

                "titulo"
                "poema20"
                "poema2"
                "poema11"

            ;

            h2 {
                border: 0;
                box-shadow: 10px 10px 15px black;
                grid-area: titulo;
                font-size: 28px;
                text-align: center;
                margin-left: 2vh;
            }
        }

        &__poema20 {
            text-align: justify;
            margin-top: 3vh;
            border: 0;
            box-shadow: 10px 10px 15px black;
            padding: 10px;
            color: black;
            grid-area: poema20;
            align-self: center;

            h3 {
                border: 0;
            }
        }


        &__poema2 {
            text-align: justify;
            margin-top: 10px;
            border: 0;
            box-shadow: 10px 10px 15px black;
            padding: 10px;
            color: black;
            grid-area: poema2;
            align-self: center;

            h3 {
                border: 0;
            }
        }


        &__poema11 {
            text-align: justify;
            margin-top: 10px;
            border: 0;
            box-shadow: 10px 10px 15px black;
            padding: 10px;
            color: black;
            grid-area: poema11;
            align-self: center;


            h3 {
                border: 0;
            }
        }


        &__pieDePagina {
            margin-top: 15vh;

            div {
                padding: 10px;
                width: 100%;

                ul {
                    @include flex-box (row, space-between, center);
                }

            }
        }
    }
}