/* ==========NERUDA============ */


.neruda {
    background-image: url(../views/img/neruda.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-color: black;
    border-width: 2px;
    border-style: groove;

    /* ======ENCABEZADO===== */



    &__encabezado {
        height: 30vh;
        padding: 5px;
        @include flex-box (column, center, flex-start);
        background-color: $color-primario;
        position: sticky;
        top: 0;
        z-index: 2;
        box-shadow: 10px 0 20px black;
        gap: 15px;

        h1 {
            font-size: $fuente-encabezado;
        }

        nav ul {
            @include flex-box (column, 0, 0);
            gap: 25px;
        }
    }




    /* ======CUERPO PRINCIPAL===== */

    &__cuerpoPrincipal {
        margin-top: 10px;
        @include flex-box (column, 0, 0);
    }



    /* ======AMBIENTACION===== */



    &__ambientacion {
        width: 50%;
        align-self: center;

        h2 {
            font-size: 18px;
            border-color: black;
            border-style: groove;
            border-width: 2px;
            background-color: $color-ner;
        }
    }

    &__poemas h2 {
        width: 60%;
        font-size: 20px;
        border: black 2px groove;
        background-color: $color-ner;
        margin-left: 10px;
    }

    &__poema20 h3 {
        width: max-content;
        border-color: black;
        border-style: groove;
        border-width: 2px;
        font-size: 18px;
        padding: 10px;
        color: black;
    }


    &__poema20 {
        border-color: black;
        border-style: groove;
        border-width: 2px;
        margin: 10px;
        padding: 10px;
        color: black;
        background-color: $color-ner;
    }

    &__poema20 p {
        font-size: 16px;
        padding: 10px;
        text-align: justify;
    }


    &__poema2 h3 {
        width: max-content;
        border-color: black;
        border-style: groove;
        border-width: 2px;
        font-size: 18px;
        padding: 10px;
        color: black;
    }


    &__poema2 {
        border-color: black;
        border-style: groove;
        border-width: 2px;
        padding: 10px;
        margin: 10px;
        color: black;
        background-color: $color-ner;
    }


    &__poema2 p {
        font-size: 16px;
        padding: 10px;
        text-align: justify;
    }


    &__poema11 h3 {
        width: max-content;
        border-color: black;
        border-style: groove;
        border-width: 2px;
        font-size: 18px;
        padding: 10px;
        color: black;
    }


    &__poema11 {
        border-color: black;
        border-style: groove;
        border-width: 2px;
        padding: 10px;
        margin: 10px;
        color: black;
        background-color: $color-ner;
    }

    &__poema11 p {
        font-size: 16px;
        padding: 10px;
        text-align: justify;
    }

    &__pieDePagina {
        margin-top: 5vh;
        height: 23vh;
        background-color: $color-primario;
        border-style: black 2px groove;
        @include flex-box (column, flex-start, flex-start);

        div {
            margin-top: 5vh;

            ul {
                @include flex-box (column, center, flex-start);
                gap: 30px;
            }
        }
    }
}






/* ===========Vista Desktop============= */
@media (min-width: 1100px) {

    .neruda {
        border-width: 2px;

        &__encabezado {
            height: 10vh;
            font-size: 24px;
            @include flex-box (row, space-between, center);

            nav ul {
                @include flex-box (row, space-between, center);
            }
        }



        &__cuerpoPrincipal {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 13% 87%;

            grid-template-areas:

                "ambientacion"
                "poemas"
            ;
        }

        &__ambientacion {
            grid-area: ambientacion;
            align-self: center;
            margin-left: 20vw;
        }

        &__poemas {
            grid-area: poemas;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas:

                "titulo"
                "poema20"
                "poema2"
                "poema11"

            ;

            h2 {
                border: 0;
                box-shadow: 10px 10px 15px black;
                grid-area: titulo;
                font-size: 28px;
                text-align: center;
                margin-left: 2vh;
            }
        }

        &__poema20 {
            text-align: justify;
            margin-top: 3vh;
            border: 0;
            box-shadow: 10px 10px 15px black;
            padding: 10px;
            color: black;
            grid-area: poema20;
            align-self: center;

            h3 {
                border: 0;
                font-size: 24px;

                p {
                    font-size: 22px;
                }
            }
        }


        &__poema2 {
            text-align: justify;
            margin-top: 10px;
            border: 0;
            box-shadow: 10px 10px 15px black;
            font-size: 18px;
            padding: 10px;
            color: black;
            grid-area: poema2;
            align-self: center;

            h3 {
                border: 0;
                font-size: 24px;

                p {
                    font-size: 22px;
                }
            }
        }


        &__poema11 {
            text-align: justify;
            margin-top: 10px;
            border: 0;
            box-shadow: 10px 10px 15px black;
            font-size: 18px;
            padding: 10px;
            color: black;
            grid-area: poema11;
            align-self: center;


            h3 {
                border: 0;
                font-size: 24px;

                p {
                    font-size: 22px;
                }
            }
        }


        &__pieDePagina {
            height: 15vh;
            margin-top: 10vh;

            div {
                padding: 10px;
                width: 100%;

                ul {
                    font-size: $fuente-piedepagina;
                    @include flex-box (row, space-between, center);
                }

            }
        }
    }
}