
/* ==========NERUDA============ */


.neruda {
    background-image: url(../views/img/neruda.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-color: black;
    border-width: 2px;
    border-style: groove;

/* ======ENCABEZADO===== */



    &__encabezado {
        padding: 5px;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: rgba(186, 185, 185, 0.516);
        border-style: groove;
        border-color: black;
        border-width: 2px;
    }


    
/* ======CUERPO PRINCIPAL===== */

    &__cuerpoPrincipal {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }


    
/* ======AMBIENTACION===== */

    &__ambientacion h2 {
        font-size: 18px;
        border-color: black;
        border-style: groove;
        border-width: 2px;
        background-color: rgba(186, 185, 185, 0.516);
    }


    
    &__poemas h2 {
        font-size: 20px;
        border: black 2px groove;
        background-color: rgba(186, 185, 185, 0.516);
        align-self: center;
        margin-right: 10px;
    }

    &__poema20 h3 {
        border-color: black;
        border-style: groove;
        border-width: 2px;
        font-size: 18px;
        padding: 10px;
        color: black;
    }


    &__poema20 {
        border-color: black;
        border-style: groove;
        border-width: 2px;
        margin: 10px;
        padding: 10px;
        color: black;
        background-color: rgba(186, 185, 185, 0.516);
    }

    &__poema20 p {
        font-size: 16px;
        padding: 10px;
        text-align: justify;
    }


    &__poema2 h3 {
        border-color: black;
        border-style: groove;
        border-width: 2px;
        font-size: 18px;
        padding: 10px;
        color: black;
    }


    &__poema2 {
        border-color: black;
        border-style: groove;
        border-width: 2px;
        padding: 10px;
        margin: 10px;
        color: black;
        background-color: rgba(186, 185, 185, 0.516);
    }


    &__poema2 p {
        font-size: 16px;
        padding: 10px;
        text-align: justify;
    }


    &__poema11 h3 {
        border-color: black;
        border-style: groove;
        border-width: 2px;
        font-size: 18px;
        padding: 10px;
        color: black;
    }


    &__poema11 {
        border-color: black;
        border-style: groove;
        border-width: 2px;
        padding: 10px;
        margin: 10px;
        color: black;
        background-color: rgba(186, 185, 185, 0.516);
    }

    &__poema11 p {
        font-size: 16px;
        padding: 10px;
        text-align: justify;
    }

    &__pieDePaginaNeruda {
        margin-top: 5vh;
        background-color: rgba(186, 185, 185, 0.516);
        border-style: groove;
        border-color: black;
        border-width: 2px;
    }


    &__pieDePaginaNeruda div ul {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}



/* ===========revisar============= */
@media (min-width: 1100px) {

    .neruda {
        border-width: 2px;

        &__encabezado {
            font-size: 24px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__cuerpoPrincipal {
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 13% 87%;

            grid-template-areas:

                "ambientacion"
                "poemas"
            ;
        }

        &__ambientacion {
            grid-area: ambientacion;
            width: 50%;
            align-self: center;
            margin-left: 20vw;
        }

        &__poemas {
            grid-area: poemas;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-template-areas:

                "titulo"
                "poema20"
                "poema2"
                "poema11"

            ;

            h2 {
                grid-area: titulo;
                font-size: 28px;
                text-align: center;
                margin-left: 2vh;
            }
        }

        &__poema20 {
            text-align: justify;
            margin-top: 3vh;
            border-color: black;
            border-style: groove;
            border-width: 2px;
            padding: 10px;
            color: black;
            grid-area: poema20;
            align-self: center;

            h3 {
                font-size: 24px;

                p {
                    font-size: 22px;
                }
            }
        }


        &__poema2 {
            text-align: justify;
            margin-top: 10px;
            border-radius: 5px;
            border-color: black;
            border-style: groove;
            border-width: 2px;
            font-size: 18px;
            padding: 10px;
            color: black;
            grid-area: poema2;
            align-self: center;

            h2 {
                font-size: 28px;

                h3 {
                    font-size: 24px;

                    p {
                        font-size: 22px;
                    }
                }
            }
        }

        &__poema11 {
            text-align: justify;
            margin-top: 10px;
            border-color: black;
            border-style: groove;
            border-width: 2px;
            font-size: 18px;
            padding: 10px;
            color: black;
            grid-area: poema11;
            align-self: center;

            h2 {
                font-size: 28px;

                h3 {
                    font-size: 24px;

                    p {
                        font-size: 22px;
                    }
                }
            }
        }


        &__pieDePaginaNeruda {
            margin-top: 10vh;

            div ul {
                font-size: 24px;
            }

        }
    }
}