
/* ===========Nosotros=========== */

.nosotros {
    background-image: url(../views/img/quienesSomos.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    border-color: black;
    border-width: 2px;
    border-style: groove;


    &__encabezado {
        width: 100%;
        font-size: 14px;
        border-color: black;
        border-width: 2px;
        border-style: groove;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: rgba(128, 128, 128, 0.499);
        position: fixed;
        top: 0;
        z-index: 2;
    }

    &__cuerpoPrincipal {
        margin: 15vh 10px 0 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 18px;
            padding: 5px;
            border-color: black;
            border-width: 2px;
            border-style: groove;
            text-align: center;
            background-color: rgba(146, 146, 146, 0.545);
        }
    }

    &__galeriaImagenes {
        display: none;
    }

    &__texto {
        margin: 10px;
        padding: 10px;
        border-color: black;
        border-width: 2px;
        border-style: groove;
        background-color: rgba(128, 128, 128, 0.542);
        text-align: justify;
        font-size: 16px;
    }


    &__pieDePagina {
        padding: 10px;
        margin-top: 20px;
        border-style: groove;
        border-color: black;
        border-width: 2px;
        background-color: rgba(128, 128, 128, 0.571);

        div ul {
            font-size: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

}


@media (min-width: 1100px) {

    .nosotros {
        border-width: 2px;

        &__encabezado {
            font-size: 20px;
            border-radius: 10px;
            border-color: black;
            border-width: 2px;
            border-style: groove;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(128, 128, 128, 0.499);
            position: sticky;
            top: 0;
            z-index: 2;
        }

        &__cuerpoPrincipal {
            margin: 10px;
            gap: 10px;
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 5vh 95vh;
            grid-template-areas:
                "nosotros galeria"
                "texto-nosotros galeria"
            ;

            justify-content: center;

            h2 {
                height: 30px;
            }

        }


        &__galeriaImagenes {
            grid-area: galeria;
            gap: 10px;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 5vh 47.33vh 47.33vh;
            grid-template-areas:

                "titulo titulo"
                "imagen1 imagen2"
                "imagen3 imagen4"
            ;

            h2 {
                height: 30px;
                display: grid;
                grid-area: titulo;
                font-size: 20px;
                text-align: center;
                background-color: rgba(128, 128, 128, 0.575);
            }
        }

        &__imagen1 img {
            margin-top: 10px;
            width: 100%;
            height: 100%;
            border-color: black;
            border-width: 2px;
            border-style: groove;
            grid-area: imagen1;

        }

        &__imagen2 img {
            margin-top: 10px;
            width: 100%;
            height: 100%;
            border-color: black;
            border-width: 2px;
            border-style: groove;
            grid-area: imagen2;
        }

        &__imagen3 img {
            margin-top: 10px;
            width: 100%;
            height: 100%;
            border-color: black;
            border-width: 2px;
            border-style: groove;
            grid-area: imagen3;
        }

        &__imagen4 img {
            margin-top: 10px;
            width: 100%;
            height: 100%;
            border-color: black;
            border-width: 2px;
            border-style: groove;
            grid-area: imagen4;
        }

        &__pieDePagina div ul {
            font-size: 20px;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }

}