/* ===========Nosotros=========== */

.nosotros {
    background-image: url(../views/img/quienesSomos.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    @include border();
    animation-name: tracking-in-expand;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;


    &__encabezado {
        padding: 15px;
        font-size: $fuente-encabezado;
        @include border();
        @include flex-box(column, flex-start, flex-start);
        background-color: $color-primario;
        position: sticky;
        top: 0;
        z-index: 2;
        gap: 10px;

        &:hover li {
            margin: 25px 0px 25px;
        }
    }

    &__cuerpoPrincipal {
        padding: 20px;
        margin: 10px;
        display: flex;
        @include flex-box(column, flex-start, flex-start);
        gap: 20px;

        h2 {
            padding: 5px;
            font-size: $fuente-h2;
            margin: 10px;
            @include border();
            text-align: center;
            background-color: $color-primario;
        }
    }

    &__galeríaImágenes {
        img {
            @include border();
            width: 100%;
            height: 100%;
            margin: 10px;
        }
    }


    &__texto {
        margin: 20px;
        padding: 10px;
        @include border();
        background-color: $color-primario;
        text-align: justify;
        font-size: $fuente-p;
    }


    &__pieDePágina {
        font-size: $fuente-piedepagina;
        padding: 15px;
        margin-top: 20px;
        @include border();
        background-color: $color-primario;

        div ul {
            display: flex;
            @include flex-box(column, space-between, flex-start);
            gap: 20px;
        }

        &:hover li {
            margin: 5px 0px 5px;
        }

    }

}


@media (min-width: 1100px) {

    .nosotros {
        border-width: 2px;

        &__encabezado {
            @include border();
            @include flex-box(row, space-between, center);
            position: sticky;
            top: 0;
            z-index: 2;
        }

        &__cuerpoPrincipal {
            margin: 10px;
            gap: 10px;
            display: grid;
            grid-template-columns: 30% 70%;
            grid-template-rows: 5vh 95vh;
            grid-template-areas:
                "nosotros galería"
                "texto-nosotros galería"
            ;

            justify-content: center;

            h2 {
                height: 40px;
            }

        }


        &__galeríaImágenes {
            grid-area: galería;
            gap: 10px;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 5vh 47.33vh 47.33vh;
            grid-template-areas:

                "título título"
                "imagen1 imagen2"
                "imagen3 imagen4"
            ;

            h2 {
                height: 40px;
                padding: 5px;
                display: grid;
                grid-area: título;
                font-size: 20px;
                text-align: center;
            }
        }

        &__imagen1 img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin-top: 20px;
            grid-area: imagen1;

        }


        &__imagen2 img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin-top: 20px;
            grid-area: imagen2;
        }

        &__imagen3 img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin-top: 20px;
            grid-area: imagen3;
        }

        &__imagen4 img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin-top: 20px;
            grid-area: imagen4;
        }

        &__pieDePágina div ul {
            font-size: 20px;
            @include flex-box(row, space-between, center);
        }
    }

}