/* =====Botones===== */



.btn:hover {
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: white;
    background-color: $color-btn;
    border: black 3px groove;
    transition-delay: 1ms;
}
