/* ======RESETEO====== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Syne Mono', monospace;
}


ul,
ol {
    list-style: none;
}


a {
    text-decoration: none;
    color: black;
}



/* ======SEPARADORES===== */


hr {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.616), rgba(255, 255, 255, 0.589), rgba(0, 0, 0, 0.616));
    margin-left: 4vw;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px solid rgb(11, 11, 11);
    height: 7px;
    width: 90vw;
    background-color: black;
}